.navBar {
  display: flex;
  min-height: 15vh;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(
    to left bottom,
    rgb(250, 255, 0),
    rgb(255, 150, 0)
  );
  border-bottom: 2px solid black;
}

.logo img {
  block-size: 87px;
}

span {
  text-shadow: 3px 2px 1px rgba(255, 255, 255, 0.9);
  color: #313131;
  text-transform: uppercase;
  font-size: 42px;
  margin-left: 90px;
  line-height: 47px;
  letter-spacing: 2px;
}

.buttons {
  display: flex;
  width: 13%;
  justify-content: space-evenly;
}

.button:hover {
  zoom: 1.4;
}

.button img {
  block-size: 36px;
}
