.player {
  background: rgb(255, 255, 255);
  min-height: 75vh;
  width: 30%;
  background: linear-gradient(
    to left bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border: 2px solid white;
  border-radius: 64px;
  z-index: 2;
  backdrop-filter: blur(16px);
  padding: 25px;
}

.pTop {
  display: flex;
  justify-content: space-evenly;
}

.textpTop {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.pTop img {
  block-size: 128px;
}

.pInfo {
  height: 50vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  font-size: 20px;
}

.follow {
  display: flex;
  justify-content: space-evenly;
}

.follow img {
  block-size: 28px;
}

.follow img:hover {
  zoom: 1.2;
}

.edit-input {
  width: 200px;
  border-radius: 16px;
  border: 1px solid white;
  outline: none;
  padding: 2px;
  font-size: 15px;
  padding: 5px;
}

.edit-input:focus {
  border: 1px solid black;
}
